
<component name="menu" extends="baseUIComponent">

  <script type="text/brightscript" uri="pkg:/components/UIComponents/menu/menu.brs" />

  <interface>

  </interface>

  <children>

    <!-- Logo -->

    <!-- Search Button -->
    <LayoutGroup id="lytOption" layoutDirection="horiz" itemSpacings="[14]" translation="[1596, 61]" vertAlignment="center" >
        <Label id="lblSearch" text="Search" color="#000000ff" />
        <Poster id="pstrOptions" uri="pkg:/images/fhd/home/options.jpeg" />
    </LayoutGroup>

  </children>

</component>
